h1 {
    text-align: center;
}
.search
{
    /* text-align: center; */
    /* border: 3px solid rgb(114, 114, 214); */
    padding-left:230px;
    border: 1px solid pink;
    
}
​
.zipdata {
    text-align: center;
}
​

.zipdetail {
    /* border-style: solid ;
    padding: 15px;
    margin: auto;
    width: 300px; */
    /* padding: 500px; */
    background-color: pink;
}